@font-face {
    font-family: 'Aeonik';
    src: url('/assets/fonts/Aeonik-Regular.eot');
    src: local('Aeonik Regular'), local('Aeonik-Regular'),
        url('/assets/fonts/Aeonik-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Aeonik-Regular.woff2') format('woff2'),
        url('/assets/fonts/Aeonik-Regular.woff') format('woff'),
        url('/assets/fonts/Aeonik-Regular.ttf') format('truetype'),
        url('/assets/fonts/Aeonik-Regular.svg#Aeonik-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/assets/fonts/Aeonik-Bold.eot');
    src: local('Aeonik Bold'), local('Aeonik-Bold'),
        url('/assets/fonts/Aeonik-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Aeonik-Bold.woff2') format('woff2'),
        url('/assets/fonts/Aeonik-Bold.woff') format('woff'),
        url('/assets/fonts/Aeonik-Bold.ttf') format('truetype'),
        url('/assets/fonts/Aeonik-Bold.svg#Aeonik-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

